# Flutter & Dart
.dart_tool/
.packages
.pub-cache/
build/
.idea/
.vscode/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.flutter-versions
generated_plugin_registrant.dart

# Android
android/.gradle/
android/app/build/
android/local.properties
*.iml
*.jks

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/

# macOS
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec
macos/.symlinks/
macos/Pods/
macos/Runner.xcworkspace/
macos/Runner.xcodeproj/project.xcworkspace/
macos/Runner.xcodeproj/xcuserdata/

# Web
build/web/

# Windows
windows/runner/Debug/
windows/runner/Release/
windows/runner/GeneratedFiles/

# Linux
linux/flutter/ephemeral/

# Firebase
firebase_app_id_file.json

# Others
*.log
*.tmp
*.swp
*.lock

# Environment files
.env
.env.*
